{% extends "header.html" %}

{% set context = h.get_current_context() %}
{% set pkg = context.package %}
{% set organization = context.organization %}

{#
Remove "Organization" from breadcrumb
#}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block breadcrumb_content %}
  {% if pkg %}
    {% set dataset = pkg.title or pkg.name %}
    {% if pkg.organization %}
      {% set org_name= pkg.organization.title or pkg.organization.name %}
      <li>{{ h.nav_link(org_name|truncate(30), named_route='organization.read', id=pkg.organization.name) }}</li>
    {% else %}
      <li>{{ h.nav_link(_('Datasets'), named_route='dataset.search') }}</li>
    {% endif %}
    <li>{{ h.nav_link(dataset|truncate(30), named_route='dataset.read', id=pkg.name) }}</li>
  {% else %}
    <li>{{ h.nav_link(_('Datasets'), named_route='dataset.search') }}</li>
    <li>{{ h.nav_link(_('Create Dataset'), named_route='dataset.new') }}</li>
  {% endif %}
{% endblock %}

{#
Use site navigation for organization instead of global one
#}
{% block header_site_navigation_tabs %}
  {% if pkg %}
    {{ h.build_nav_icon('organization.read', _('Datasets'), id=mandant.name) }}
    {% if h.is_activity_plugin_loaded() %}
      {{ h.build_nav_icon('activity.organization_activity', _('Activity Stream'), id=mandant.name, offset=0) }}
    {% endif %}
    {{ h.build_nav_icon('organization.about', _('About'), id=mandant.name) }}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{#
Search in organization instead of globally
#}
{% block header_site_search %}
  {% if pkg %}
    <form class="d-flex site-search" action="{% url_for 'organization.read', id=organization.name %}" method="get">
      <label class="d-none" for="field-sitewide-search">{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search Datasets...') }}{% endblock %}</label>
      <input id="field-sitewide-search" class="form-control me-2"  type="text" name="q" placeholder="{{ _('Search') }}" aria-label="{{ h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search datasets...') }}"/>
      <button class="btn" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
    </form>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
