{% ckan_extends %}

{% set mandant = False %}
{% if group_dict %}
  {% set mandant = group_dict %}
{% endif %}
{% if pkg_dict %}
  {% set mandant = pkg_dict.organization %}
{% endif %}
{% if mandant and 'is_organization' in mandant and not mandant.is_organization %}
  {% set mandant = None %}
{% endif %}

{% block styles %}
  {{ super() }}
  {% asset 'ckanext-krzn/krzn' %}
{% endblock %}

{#
We add the name of the organization as a css class which allows custom styles for
different organizations/mandanten.
#}
{% block bodytag %}
{{- super() -}}
class="
{%- if mandant -%}
	mandant
{%- endif -%}
" data-site-root="{{ h.url_for('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url_for('/', qualified=true) }}" data-api-root="{{ g.api_url }}"
{% if mandant %}
	id="{{ mandant.name }}"
{% endif %}
{% endblock %}
