.mandant .masthead {
  background-color: #00008b;
}
.mandant.moers .masthead {
  background-color: #fab000;
}
.mandant.duisburg .masthead {
  background-color: green;
}
.mandant.kamp-lintfort .masthead {
  display: none;
}
.main,
[role="main"] {
  background-color: #ggg;
}
