.mandant .masthead {
  background-color: #00008b;
}
#moers .masthead {
  background-color: #fab000;
}
#duisburg .masthead {
  background-color: green;
}
#kamp-lintfort .masthead {
  background-color: purple;
}
.main,
[role="main"] {
  background-color: #ggg;
}
.logo img {
  max-height: 50px;
}
.mini-breadcrumb {
  float: left;
}
