{% ckan_extends %}

{% set mandant = False %}
{% if c.group_dict %}
  {% set mandant = c.group_dict %}
{% endif %}
{% if c.pkg_dict %}
  {% set mandant = c.pkg_dict.organization %}
{% endif %}

{#
Breadcrumb should be moved to top left
#}
{% block header_account_container_begin %}
<div class="mini-breadcrumb">
  <ol class="unstyled">
    {% snippet 'snippets/home_breadcrumb_item.html' %}
    {% block breadcrumb_content %}{% endblock %}
  </ol>
</div>
{% endblock %}

{#
Move logo to header, if we are on an org page
#}
{% block header_logo %}
  {% if mandant %}
    {% set url=h.url_for(controller='organization', action='read', id=mandant.name) %}
    <a class="logo" href="{{ url }}"><img src="{{ mandant.image_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ mandant.title }} Logo" /></a>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
