{% extends "header.html" %}

{% set context = h.get_current_context() %}
{% set organization = context.organization %}
{#
Remove "Organization" from breadcrumb
#}
{% block breadcrumb_content %}
  <li>{{ h.nav_link(organization.display_name|truncate(35), named_route='organization.read', id=organization.name) }}</li>
{% endblock %}

{#
Move tabs content to site navigation
#}
{% block header_site_navigation_tabs %}
  {{ h.build_nav_icon('organization.read', _('Datasets'), id=organization.name) }}
  {% if h.is_activity_plugin_loaded() %}
    {{ h.build_nav_icon('activity.organization_activity', _('Activity Stream'), id=organization.name, offset=0) }}
  {% endif %}
  {{ h.build_nav_icon('organization.about', _('About'), id=organization.name) }}
{% endblock %}

{#
Search in organization instead of globally
#}
{% block header_site_search %}
  <form class="d-flex site-search" action="{% url_for 'organization.read', id=organization.name %}" method="get">
    <label class="d-none" for="field-sitewide-search">{% block header_site_search_label %}{{ h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search Datasets...') }}{% endblock %}</label>
    <input id="field-sitewide-search" class="form-control me-2"  type="text" name="q" placeholder="{{ _('Search') }}" aria-label="{{ h.humanize_entity_type('package', dataset_type, 'search_placeholder') or _('Search datasets...') }}"/>
    <button class="btn" type="submit" aria-label="{{ _('Submit') }}"><i class="fa fa-search"></i></button>
  </form>
{% endblock %}
